<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.product.mapper.ProductMapper">
    <update id="updateStock">
        <foreach collection="stocks" item="stockDTO">
            update mall_goods_info set stock_num=stock_num-#{stockDTO.goodsCount}
            where goods_id=#{stockDTO.goodsId} and stock_num>=#{stockDTO.goodsCount} and goods_sell_status=0;
        </foreach>
    </update>
</mapper>